<h1 class="h4">Descrubre que lugar de Nicaragua es!</h1>

<div class="example-container">

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="array"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="" *ngFor="let item of array" cdkDrag     cdkDragLockAxis>
      <img class="example-item"  src="{{item.img}} " alt="{{item.img}}">
    </div>


  </div>

</div>

<div class="example-container">


  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="array2"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
    (cdkDropListEntered)="drop1($evento)">
    <div *ngFor="let item of array2" cdkDrag>
      <img class="example-img"  src="{{item.img}}" alt="{{item.img}}">
    </div>
</div>



<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
